header {
  position: sticky;
  top: 0;
  height: 80px;
  backdrop-filter: blur(40px);
  z-index: 100;
  background-color: rgba(89, 84, 84, 0.421);
}

.menuToggle span {
  background-color: #EEEEEE;
padding-top: 40px;
}

.title {
  color: #EEEEEE;
  width: 50%;
  font-size: 30px;
  margin: 0px auto;
  padding-bottom: 5px;
  float: center;
}

.title1 {  
  width: 50px;
  padding: 10px;
  float: left;
  font-size: 50px;
  color: violet;
  animation: ping 2.5s linear infinite both;
}

.title2 {
  width: 50px;
  padding: 5px;
  float: left;
  font-size: 50px;
  color: #5e8c6a;
  animation: ping 1.5s linear infinite both;
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }

  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

.logo {
  height: 65px;
  width: 65px;
  border-radius: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#menuToggle {
  display: block;
  position: relative;
  height: 100%;
  width: 50px;
  padding: 15px 5px;
  user-select: none;
  float: left;
}

#menuToggle #menu a {
  text-decoration: none;
  color: #ffffff;
  transition: color 1s ease;
}

#menuToggle #menu a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 8px;
  margin-bottom: 8px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}